/*

USE FOLLOWING STRUCTURE:

<div> --> Fullwidth container
  <div> 
    <div> --> Holds "boxed_left" or "boxed_right" class
    </div>
  </div>
</div>

REPLACE "1640px" with boxed container size
REPLACE "15px" with left/right page margins 

*/

@media only screen and (min-width: 1620px) {
  .boxed_left {
    padding-left: calc((((100vw - 17px) - 1640px) / 2) - 15px) !important;
  }

  .boxed_right {
    padding-right: calc((((100vw - 17px) - 1640px) / 2) - 15px) !important;
  }

  body.mac .boxed_left {
    padding-left: calc(((100vw - 1640px) / 2) - 15px) !important;
  }
  body.mac .boxed_right {
    padding-right: calc(((100vw - 1640px) / 2) - 15px) !important;
  }

  body.mac.scrollbars-visible .boxed_left {
    padding-left: calc((((100vw - 15px) - 1640px) / 2) - 15px) !important;
  }

  body.mac.scrollbars-visible .boxed_right {
    padding-right: calc((((100vw - 15px) - 1640px) / 2) - 15px) !important;
  }
}
